---
layout: false
permalink: sitemap.xml
excludeFromSearch: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset
      xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
            http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
{%- for item in collections.all -%}
{%- if not item.data.excludeFromSearch -%}
  <url>
    <loc>https://booptroopeugene.com{{ item.url }}</loc>
    {% if item.data.date %}
      <lastmod>{{ item.data.date | isodate }}</lastmod>
    {% else %}
      <lastmod>2020-08-23T04:55:20+00:00</lastmod>
    {% endif %}
    <priority>{% if item.url == '/' %}1.0{% else %}0.8{% endif %}</priority>
  </url>
{%- endif -%}
{%- endfor -%}
</urlset>