<h2>BoopTroop & BLM News</h2>

{# 
Check out the <a href="https://booptroopeugene.wordpress.com/" target="_blank">Boop Troop Blog</a> for BLM Eugene news and more.

{% set postslist = collections.post %}
{% include "components/postslist.njk" %}

<h4 class="fb-title">Wonder Woman Makes Meals Available for Everyone at Juneteenth</h4>
<div class="fb-byline">Sai Marie Johnson | June 23, 2020</div>
<div class="fb-content">On Juneteenth, many people came together to support Black_Unity and the message of Black Lives Matter at Skinner’s Butte Park, but of all the people who worked so hard to make the event a successful one, one woman and her mission to support her community particularly stood out; Maisie Davis and the Freedom Van.</div>
<a href="https://booptroopeugene.wordpress.com/2020/06/22/wonder-woman-makes-meals-available-for-everyone-at-juneteenth/" class="fb-link" target="_blank">Continue Reading ></a>
#}

<h4 class="fb-title">“Frustration & Disbelief”: City Council Refuses to Redirect Funds from EPD Budget. Guest Blog by White Rose Tinted.</h4>
<div class="fb-byline">remysaverem (Ellen) | June 22, 2020</div>
<div class="fb-content">It’s 3 AM in the morning and if anything was going to make me empathize with our city councilors it would be spending nearly seven hours listening through the June 22nd council meeting twice. But any empathy that might have welled up is thoroughly overwhelmed by anger and disgust at the council’s actions, or perhaps more accurately their complete lack of meaningful action in the face of the needs and calls of the community they purport to represent.</div>
<a href="https://booptroopeugene.wordpress.com/2020/06/23/frustration-disbelief-city-council-refuses-to-redirect-funds-from-epd-budget-guest-blog-by-white-rose-tinted/" class="fb-link" target="_blank">Continue Reading ></a>