<div class="footer-social dark-section">
  <div class="wrapper">
    <div class="main-col">
      <h2>Connect With Boop Troop Eugene</h2>
      <div class="footer-social-icons">
        <a class="footer-social-icon" href="https://discord.gg/FxWwc4u" target="_blank"><img src="/static/img/icons/discord-cutout.png" alt="Join Boop Troop on Discord"></a>
        <a class="footer-social-icon" href="https://www.twitch.tv/stoggrd81" target="_blank"><img src="/static/img/icons/twitch.png" alt="Watch Boop Troop on Twitch.tv"></a>
        <a class="footer-social-icon" href="https://www.facebook.com/tre.stewart" target="_blank"><img src="/static/img/icons/facebook.png" alt="Follow Boop Troop on Facebook"></a>
        <a class="footer-social-icon" href="https://www.instagram.com/stoggrd" target="_blank"><img src="/static/img/icons/instagram.png" alt="Follow Boop Troop on Instagram"></a>
        <a class="footer-social-icon" href="https://www.twitter.com/stoggrd" target="_blank"><img src="/static/img/icons/twitter.png" alt="Stay up to date with Boop Troop on Twitter"></a>
      </div>
    </div>
  </div>
</div>
<footer class="site-footer dark-section">
  <div class="wrapper">
    <small>
      {# This website is maintained by <a href="https://www.kylegrover.com">Kyle Grover</a> and Boop Troop Eugene.<br> #}
      Want to help with the website? Contribute to the <a href="{{ pkg.repository.url }}">GitHub repo</a>
    </small>
  </div>
</footer>
