<footer class="site-footer">
  <small>
    This website is maintained by <a href="https://www.kylegrover.com">Kyle Grover</a> and Boop Troop Eugene.
    Contribute to the <a href="{{ pkg.repository.url }}">GitHub repo</a>.
  </small>
</footer>
