<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or renderData.title or metadata.title }}
    - BoopTroopEugene</title>
  <script async="async" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="Boop Troop Eugene">
  <meta name="application-name" content="Boop Troop Eugene">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="theme-color" content="#ffffff">
  <!-- end favicons -->
  {% set css %}
  {% include "assets/css/inline.css" %}
  {% endset %}
  <style>
    {{css | cssmin | safe}}
  </style>
  {% set js %}
  {% include "assets/js/inline.js" %}
  {% endset %}
  <script>
    {{ js | jsmin | safe }}
  </script>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@700&display=swap" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-169300658-1"></script>

  <link href="https://unpkg.com/@fullcalendar/core@4.4.2/main.min.css" rel="stylesheet">
  <link href="https://unpkg.com/@fullcalendar/list@4.4.2/main.min.css" rel="stylesheet">

  <script src="https://unpkg.com/@fullcalendar/core@4.4.2/main.min.js"></script>
  <script src="https://unpkg.com/@fullcalendar/list@4.4.2/main.min.js"></script>
  <script src="https://unpkg.com/@fullcalendar/google-calendar@4.4.2/main.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [
          'list', 'googleCalendar'
        ],
        defaultView: 'listWeek',
        header: false,
        views: {
          list: {
            duration: {
              days: 90
            }
          }
        },
        eventSources: [{
            url: 'ohmdb20qqvfkk9gj53tgi73stk@group.calendar.google.com',
            googleCalendarApiKey: 'AIzaSyDohWOUIvZBxO89GJ9qqpRAf3xjxhLS2HM',
            type: 'POST',
            cache: false
        }],
        lazyFetching: false,

        eventClick: function (arg) {
          // opens events in a popup window
          window.open(arg.event.url, '_blank', 'width=700,height=600');
          // prevents current tab from navigating
          arg
            .jsEvent
            .preventDefault();
        }

      });
      calendar.render();
      calendar.destroy();
      calendar.render();

    });
  </script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-169300658-1');
  </script>
</head>