<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or renderData.title or metadata.title }} | Boop Troop Eugene</title>
  <script async="async" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <!-- Search Engine -->
  <meta name="description" content="{{ seo_description or "Eugene & Springfield Live BLM Coverage & Community" }}">
  <meta name="image" content="{{ seo_image or "https://booptroopeugene.com/static/img/bte-hero.png" }}">
  <!-- Schema.org for Google -- note: replace with JSON schema -->
  <meta itemprop="name" content="Boop Troop Eugene BLM News & Community">
  <meta itemprop="description" content="{{ seo_description or "Eugene & Springfield Live BLM Coverage & Community" }}">
  <meta itemprop="image" content="{{ seo_image or "https://booptroopeugene.com/static/img/bte-hero.png" }}">
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta name="og:title" content="{{ title }} | Boop Troop Eugene">
  <meta name="og:description" content="{{ seo_description or "Eugene & Springfield Live BLM Coverage & Community" }}">
  <meta name="og:image" content="{{ seo_image or "https://booptroopeugene.com/static/img/bte-hero.png" }}">
  <meta name="og:url" content="https://booptroopeugene.com/">
  <meta name="og:site_name" content="Boop Troop Eugene BLM News & Community">
  <meta name="og:type" content="website">
  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="Boop Troop Eugene">
  <meta name="application-name" content="Boop Troop Eugene">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="theme-color" content="#ffffff">
  <!-- end favicons -->

  <!-- opencalendar -->
  {% if title == 'Home' %}
    {% include "components/calendar-head.njk" %}
  {% endif %}
  <!-- end opencalendar -->

  {% set css %}
  {% include "assets/css/inline.css" %}
  {% endset %}
  <style>
    {{css | cssmin | safe}}
  </style>
  {% set js %}
  {% include "assets/js/inline.js" %}
  {% endset %}
  <script>
    {{ js | jsmin | safe }}
  </script>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oswald:wght@700&display=swap" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-169300658-1"></script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-169300658-1');
  </script>
</head>