<div class="promo-banner-container">
    <div class="promo-banner">
        <div class="promo-text">Oregon fire relief - donate, volunteer, or find help. <a href="/fires/" style="white-space: nowrap;">Learn more →</a>.</div>
    </div>
</div>