<div class="promo-banner-container">
    <div class="promo-banner">
        <div class="promo-text">Help #BoopTroopEugene grow! Check out our <a href="https://www.bonfire.com/boop-troop-press-tee/" target="_blank">Boop Troop Swag</a>. Proceeds will help us get a USPA press pass for Tre and more!</div>
    </div>
</div>
