<!doctype html>
<html {% if section %} data-current="{{ section }}" {% endif %} lang="en">

    {% include "components/head.njk" %}

    <body>

        <header class="site-header">
            <div class="nav-wrapper">
                <h1 class="site-title">
                    <a href="{{ '/' | url }}">{{ metadata.title }}</a>
                </h1>
                {% include "components/nav.njk" %}
            </div>
            
            {% if title == 'Home' %}
                <div class="hero-wrapper">
                    <div class="hero-image" style="background-image: url(/static/img/hero.jpg)"></div>
                    <div class="hero-logo" style="background-image: url(/static/img/bte-logo-darkbg.svg)"></div>
                </div>
            {% endif %}

        </header>

        <main class="site-main">
            {% if title == 'Home' %}
                {% include "components/promo-banner-presspass.njk" %}
            {% endif %}
            <div class="wrapper">
                <div class="main-col">
                    {{ layoutContent | safe }}
                </div>
                <div class="sec-col">
                    {% if title == 'Home' %}
                        {% include "components/featured-blog.njk" %}
                    {% endif %}
                    {% if title == 'What The Heck Is A Boop Troop?' %}
                        <div class="column-logo" style="background-image: url(/static/img/bte-logo-simple.svg)"></div>
                    {% endif %}
                    {% if title == 'Get in touch' %}
                        <div class="column-logo" style="background-image: url(/static/img/bte-logo-simple.svg)"></div>
                    {% endif %}
                </div>
            </div>
        </main>

        {% include "components/footer.njk" %}

    </body>

</html>