<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header class="site-header">
			<em class="site-title">
				<a class="purple-shadow" href="{{ '/' | url }}">{{ metadata.title }}</a>
			</em>
			{% if title == 'Home' %}
				<img class="header-image" src="/static/img/zach-tre.jpg" alt="Zach and Tre marching with BLM and Boop Troop">
			{% endif %}
			{% include "components/nav.njk" %}
		</header>

		<main class="site-main">
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
