<!doctype html>
<html {% if section %} data-current="{{ section }}" {% endif %} lang="en">

    {% include "components/head.njk" %}

    <body class="layout-{{ layout | replace("layouts/","") | replace(".njk","") }}">

        <header class="site-header">
            <div class="nav-wrapper">
                <h1 class="site-title">
                    <a href="{{ '/' | url }}">{{ metadata.title }}</a>
                </h1>
                {% include "components/nav.njk" %}
            </div>
            
            {% if title == 'Home' %}
                <div class="hero-wrapper">
                    <div class="hero-image" style="background-image: url(/static/img/hero.jpg)"></div>
                    <div class="hero-logo" style="background-image: url(/static/img/bte-logo-darkbg.svg)"></div>
                </div>
                <div>

                </div>
            {% endif %}

        </header>

        <main class="site-main">
            {% if title == 'Home' %}
                {% include "components/promo-banner-fire.njk" %}
            {% endif %}
            <div class="wrapper">
                <div class="main-col">
                    {{ layoutContent | safe }}
                </div>
                <div class="sec-col">
                    {% if title == 'What The Heck Is A Boop Troop?' or title == 'Get in touch' %}
                        <div class="column-logo" style="background-image: url(/static/img/bte-logo-simple.svg)"></div>
                    {% else %}
                        {% if title != 'Blog' %}
                            {% include "components/featured-blog.njk" %}
                        {% endif %}
                        <h2>BoopTroop! Discord Community</h2>
                        <div class="discord-block">
                            <div class="btr-image" style="background-image: url('/static/img/eugene-day-3.jpg');"></div>
                            <div>Moderated text and voice chat.  Hang out with BIPOC and Allies in the area, see what you can do to help, get notified of the live streams.<br><a href="https://discord.gg/Spc636f">Join Our Discord</a></div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </main>

        {% include "components/footer.njk" %}

    </body>

</html>