---
layout: layouts/base.njk
section: home
---

{{ layoutContent | safe }}

<h2>BoopTroop! Discord Community</h2>

<div class="flex-768">
  <div class="btr-image" style="background-image: url('/static/img/eugene-day-3.jpg');"></div>
  <div>Moderated text and voice chat.  Hang out with BIPOC and Allies in the area, see what you can do to help, get notified of the live streams.<br><a href="https://discord.gg/Spc636f">Join Our Discord</a></div>
</div>