---
layout: layouts/base.njk
section: home
---

<h2>Boop Troop Eugene Resources</h2>

{{ layoutContent | safe }}


<h2>BoopTroop & BLM News</h2>

Check out the <a href="https://booptroopeugene.wordpress.com/" target="_blank">Boop Troop Blog</a> for BLM Eugene news and more.
{# 
{% set postslist = collections.post %}
{% include "components/postslist.njk" %}
 #}

<h2>BoopTroop! Discord Community</h2>

<div class="flex-768">
  <div class="btr-image" style="background-image: url('/static/img/eugene-day-3.jpg');"></div>
  <div>Moderated text and voice chat.  Hang out with BIPOC and Allies in the area, see what you can do to help, get notified of the live streams.<br><a href="https://discord.gg/FxWwc4u">Join Our Discord</a></div>
</div>