---
layout: layouts/base.njk
section: tags
permalink: /tags/index.html
---
<p>{{ collections | keys | dump(2) | safe }}</p>

<section>
  {% for tag, posts in collections %}
  tag: {{ tag }}, posts: {{ posts | length }}<br/>
  {% endfor %}
</section>

<hr>

<section>
  {% for tag2, posts2 in collections | dictsort %}
  tag: {{ tag2 }}, posts: {{ posts2 | length }};<br/>
  {% endfor %}
</section>